<div
  style="
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0 auto;
    background: #280028;
    padding: 16px 30px;
    text-align: center;
    font-family: Arial;
    color: #fff;
    max-width: 540px;
  "
>
  <a style="color: #fff; text-decoration: underline;" href="http://www.moviese.at/">https://www.moviese.at</a>
</div>
