<mat-card [ngClass]="{ read: notification.read }">
  <mat-card-header (click)="toggleOpened(index)">
    <mat-card-title>
      {{ notification.title }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content
    [ngClass]="{ opened: (notificationOpenedIndex$ | async) === index }"
    [@toggleContent]="(notificationOpenedIndex$ | async) === index ? 'expanded' : 'collapsed'">
    <a [routerLink]="['/movie/1/moonrise-kingdom']">{{ notification.content }}</a>
  </mat-card-content>
</mat-card>
