
.imageSlider {
  display: flex;
  gap: 8px;
  overflow: scroll;
}

.imageContainer {
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
  p {
    margin: 0;
  }
}

.characterName {
  font-style: italic;
  color: #a9a9a9;
}

.image {
  position: relative;
  width: 128px;
  height: 128px;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 8px;
  img {
    position: absolute;
    width: 100%;
  }
}
