<div @fadeAnimation class="overlay" *ngIf="isTouching | async">
  <mat-list>
    <mat-list-item>
      <span>Moonrise Kingdom </span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="releaseDate">{{ movie.release_date }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="actionsContainer">
        <app-share-social shareMessage="Check out this movie: {{ movie.title }}" [movie]="movie"></app-share-social>
      </div>
    </mat-list-item>
  </mat-list>
</div>
<img [src]="movie.poster" [routerLink]="['/movie/', movie.id, stripTitle(movie.title)]" />
