.openMovieSearchBtn {
  position: fixed;
  z-index: 1;
  bottom: 8px;
  left: calc(50% - 20px);
}

mat-form-field {
  width: 100%;
}

.closeBtn {
  position: absolute;
  z-index: 1;
  top: 4px;
  right: 4px;
}

.mat-mdc-dialog-content {
  min-height: calc(100% - 20px);
  max-height: calc(100% - 20px);
  padding-bottom: 0;
}
