<ng-container *ngIf="type === 'theatre'; else amongFriends">
  <mat-chip-set class="type">
    <mat-chip-option [selected]="selectedType === 'comingSoon'" [color]="colorType === 'comingSoon' ? 'accent' : ''" (click)="toggleSelection('comingSoon')"
      >Coming soon</mat-chip-option
    >
    <mat-chip-option [selected]="selectedType === 'playingNow'" [color]="colorType === 'playingNow' ? 'accent' : ''" (click)="toggleSelection('playingNow')"
      >Playing now</mat-chip-option
    >
  </mat-chip-set>
</ng-container>

<ng-container *ngIf="type === 'theatre'">
  <div #comingSoon class="container" [@fadeToggle]="returnSelectedState('comingSoon')" (@fadeToggle.done)="resetScrollPosition()">
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/p7I17l9jRI146JvNb4oo3STOTmV.jpg" [routerLink]="['/movie/1/moonrise-kingdom']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/r4yCgWjAbh13X5EFiXPpbnnBYhP.jpg" [routerLink]="['/movie/2/oppenheimer']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/p7I17l9jRI146JvNb4oo3STOTmV.jpg" [routerLink]="['/movie/1/moonrise-kingdom']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/r4yCgWjAbh13X5EFiXPpbnnBYhP.jpg" [routerLink]="['/movie/2/oppenheimer']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/p7I17l9jRI146JvNb4oo3STOTmV.jpg" [routerLink]="['/movie/1/moonrise-kingdom']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/r4yCgWjAbh13X5EFiXPpbnnBYhP.jpg" [routerLink]="['/movie/2/oppenheimer']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/p7I17l9jRI146JvNb4oo3STOTmV.jpg" [routerLink]="['/movie/1/moonrise-kingdom']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/r4yCgWjAbh13X5EFiXPpbnnBYhP.jpg" [routerLink]="['/movie/2/oppenheimer']" />
  </div>

  <div #playingNow class="container playingNow" [@fadeToggle]="returnSelectedState('playingNow')" (@fadeToggle.done)="resetScrollPosition()">
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/iuFNMS8U5cb6xfzi51Dbkovj7vM.jpg" [routerLink]="['/movie/1/moonrise-kingdom']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/8Gxv8gSFCU0XGDykEGv7zR1n2ua.jpg" [routerLink]="['/movie/2/oppenheimer']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/iuFNMS8U5cb6xfzi51Dbkovj7vM.jpg" [routerLink]="['/movie/1/moonrise-kingdom']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/8Gxv8gSFCU0XGDykEGv7zR1n2ua.jpg" [routerLink]="['/movie/2/oppenheimer']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/iuFNMS8U5cb6xfzi51Dbkovj7vM.jpg" [routerLink]="['/movie/1/moonrise-kingdom']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/8Gxv8gSFCU0XGDykEGv7zR1n2ua.jpg" [routerLink]="['/movie/2/oppenheimer']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/iuFNMS8U5cb6xfzi51Dbkovj7vM.jpg" [routerLink]="['/movie/1/moonrise-kingdom']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/8Gxv8gSFCU0XGDykEGv7zR1n2ua.jpg" [routerLink]="['/movie/2/oppenheimer']" />
  </div>
</ng-container>

<ng-template #amongFriends>
  <h3 class="type">Popular with friends</h3>
  <div class="container">
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/xrziXRHRQ7c7YLIehgSJY8GQBsx.jpg" [routerLink]="['/movie/1/moonrise-kingdom']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/8Gxv8gSFCU0XGDykEGv7zR1n2ua.jpg" [routerLink]="['/movie/2/oppenheimer']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/xrziXRHRQ7c7YLIehgSJY8GQBsx.jpg" [routerLink]="['/movie/1/moonrise-kingdom']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/8Gxv8gSFCU0XGDykEGv7zR1n2ua.jpg" [routerLink]="['/movie/2/oppenheimer']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/xrziXRHRQ7c7YLIehgSJY8GQBsx.jpg" [routerLink]="['/movie/1/moonrise-kingdom']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/8Gxv8gSFCU0XGDykEGv7zR1n2ua.jpg" [routerLink]="['/movie/2/oppenheimer']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/xrziXRHRQ7c7YLIehgSJY8GQBsx.jpg" [routerLink]="['/movie/1/moonrise-kingdom']" />
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/8Gxv8gSFCU0XGDykEGv7zR1n2ua.jpg" [routerLink]="['/movie/2/oppenheimer']" />
  </div>
</ng-template>
