<ng-container *ngIf="type === 'theatre'; else amongFriends">
  <mat-chip-set class="type">
    <mat-chip-option [selected]="selectedType === 'comingSoon'" [color]="colorType === 'comingSoon' ? 'accent' : ''" (click)="toggleSelection('comingSoon')"
      >Coming soon</mat-chip-option
    >
    <mat-chip-option [selected]="selectedType === 'playingNow'" [color]="colorType === 'playingNow' ? 'accent' : ''" (click)="toggleSelection('playingNow')"
      >Playing now</mat-chip-option
    >
  </mat-chip-set>
</ng-container>

<ng-container *ngIf="type === 'theatre'">
  <div #comingSoon class="container" [@fadeToggle]="returnSelectedState('comingSoon')" (@fadeToggle.done)="resetScrollPosition()">
    <img
      *ngFor="let movie of movieDiscoverUpcoming$ | async"
      [src]="'https://www.themoviedb.org/t/p/w600_and_h900_bestv2/' + movie.poster_path"
      (click)="navigateToMovie(movie)" />
  </div>

  <div #playingNow class="container playingNow" [@fadeToggle]="returnSelectedState('playingNow')" (@fadeToggle.done)="resetScrollPosition()">
    <img
      *ngFor="let movie of movieDiscoverPlaying$ | async"
      [src]="'https://www.themoviedb.org/t/p/w600_and_h900_bestv2/' + movie.poster_path"
      (click)="navigateToMovie(movie)" />
  </div>
</ng-container>

<ng-template #amongFriends>
  <h3 class="type">Popular with friends</h3>
  <div class="container">
    <img
      *ngFor="let movie of moviePopularAmongFriends$ | async"
      [src]="'https://www.themoviedb.org/t/p/w600_and_h900_bestv2/' + movie.poster_path"
      (click)="navigateToMovie(movie, 'popularAmongFriends')" />
  </div>
</ng-template>
