:host {
  min-width: 100%
}

.youtubePlayer {
  position: relative;
  width: 100%;
  height: calc(100vw * 0.45);
  display: flex;
  justify-content: center;
}

.isPlaying {
  position: fixed;
  z-index: 3;
  background: #000;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

youtube-player {
  line-height: 0;
  border-radius: 12px;
  overflow: hidden;
}

.thumbnail {
  line-height: 0;
  position: absolute;
  border-radius: 12px;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }
}

.video-play-btn {
  svg {
    position: absolute;
    top: 42.5%;
    left: 42.5%;
    height: 15%;
    width: 15%
  }
}

.hideThumbnail {
  opacity: 0;
}

.loading {
  display: block;
  background: #424242;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  position: absolute;
}

.skeleton {
  width: 5%;
  height: 200%;
  display: block;
  background: rgb(114, 114, 114);
  animation: skeleton-loading 2s linear infinite;
  filter: blur(2rem);
}

@keyframes skeleton-loading {
  from {
    transform: translateY(-25%) translateX(-600%) rotate(45deg);
  }
  to {
    transform: translateY(-25%) translateX(3000%) rotate(45deg);
  }
}
