<mat-card class="usersContainer">
  <mat-card-header>
    <mat-card-title>Users</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field [subscriptSizing]="'dynamic'">
        <mat-label>Look for a user...</mat-label>
        <input matInput [formControl]="searchUser" />
        <mat-error *ngIf="searchUser.invalid">Searchfield requires at least 3 characters</mat-error>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>

    <mat-list role="list" *ngIf="userSearchResults$ | async as users" @fadeAnimation>
      <mat-list-item role="listitem" *ngFor="let user of users" (click)="navigateToWatchList(user)"> {{ user.username }} </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
