<img class="logo" src="../../../assets/icon-512.webp" />

<mat-card *ngIf="signUpState$ | async; else signUpSuccess">
  <mat-card-content>
    <form [formGroup]="signUpForm">
      <mat-form-field>
        <mat-label>Email address</mat-label>
        <input matInput formControlName="email" name="email" autocomplete="email" />
        <mat-error *ngIf="signUpForm.controls.email.invalid">{{ getErrorMessage('email') }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" name="username" />
        <mat-error *ngIf="signUpForm.controls.username.invalid">{{ getErrorMessage('username') }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" name="new-password" autocomplete="new-password" />
        <mat-error *ngIf="signUpForm.controls.password.invalid">{{ getErrorMessage('password') }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput formControlName="confirmPassword" name="confirm-password" autocomplete="new-password" />
        <mat-error *ngIf="signUpForm.controls.confirmPassword.invalid">{{ getErrorMessage('confirmPassword') }}</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions>
      <button mat-flat-button color="primary" type="submit" (click)="submitSignUpForm()">SIGN UP</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>

<ng-template #signUpSuccess>
  <mat-card>
    <mat-card-content>
      <p>
        Your account has been created, check your email to finalize your account!<br /><br />
        You can close this screen.
      </p>
    </mat-card-content>
  </mat-card>
</ng-template>
