<div *ngIf="movie$ | async as movie">
  <app-clips-container [clips]="movie.clips"></app-clips-container>

  <h2 class="titleContainer">
    <span class="title">{{ movie.title }}</span>
    <span class="releaseDate">({{ movie.release_date | date : 'yyyy' }})</span>
  </h2>
  <p class="tagline">{{ movie.tagline }}</p>

  <p class="overview">{{ movie.overview }}</p>

  <button *ngIf="(userHasAddedMovie$ | async) === false" class="add" mat-flat-button color="primary" (click)="addMovieToWatchlist(movie)">
    ADD TO WATCHLIST
  </button>
  <button *ngIf="userHasAddedMovie$ | async" class="add" mat-flat-button color="primary" (click)="removeMovieFromWatchlist(movie)">
    REMOVE FROM WATCHLIST
  </button>

  <mat-chip-set class="genres">
    <mat-chip *ngFor="let genre of movie.genres">{{ genre.name }}</mat-chip>
  </mat-chip-set>

  <mat-card class="infoContainer">
    <mat-card-content>
      <div class="movieInfo">
        <div class="age">{{ movie.certification }}</div>
        <span>{{ movie.release_date }} (NL) </span>
        <mat-icon class="hasSeenMovie" (click)="toggleWatchedState()" *ngIf="watchedMovie"> visibility </mat-icon>
        <mat-icon class="hasSeenMovie" (click)="toggleWatchedState()" *ngIf="!watchedMovie"> visibility_off </mat-icon>
        <app-share-social shareMessage="Check out this movie: {{ movie.title }}" [movie]="movie"></app-share-social>
        <app-movie-rating></app-movie-rating>
      </div>
      <div class="crewInfo">
        <p class="label">Director</p>
        <p class="value">{{ findPerson(movie.persons, 'Director') }}</p>
        <p class="label">Screenplay</p>
        <p class="value">{{ findPerson(movie.persons, 'Screenplay') }}</p>
        <p class="label">Runtime</p>
        <p class="value">{{ getMovieRuntime(movie.runtime) }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <app-image-slider [movie]="movie"></app-image-slider>
  <!-- <app-movie-reviews></app-movie-reviews> -->
</div>
