.titleContainer {
  font-size: 1.8rem;
  margin: 8px 0 0 0;
  font-weight: 500;
  display: flex;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  max-width: 85%;
}

.releaseDate {
  font-size: 1rem;
  font-weight: 100;
  white-space:nowrap;
  vertical-align: middle;
  margin-left: 4px;
}

.tagline {
  font-style: italic;
  color: #a9a9a9;
  text-align: justify;
  margin-top: 8px;
}

.overview {
  text-align: justify;
}

.age {
  border-radius: 8px;
  display: inline-block;
  border: 1px solid darkgrey;
  padding: 4px;
  background: #222222;
  margin-right: 8px;
}

.infoContainer {
  box-shadow: none;
  background: #280028;
  margin-bottom: 8px;
  mat-card-content {
    padding: 4px;
    .movieInfo {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      app-share-social {
        margin-left: 8px;
      }

      app-movie-rating {
        margin-left: auto;
      }
    }

    .crewInfo {
      p {
        margin-bottom: 0;
        &:nth-child(odd) {
          width: 20%;
          float: left;
        }
      }
    }
  }
}

.directorWriterInfo {
  margin: 8px 0 8px 0;
  display: flex;
  flex-direction: column;
  p
  {
    min-width: 15%;
    display: inline-block;
    margin: 0;
  }
}

.genres {
  margin-bottom: 16px;
  padding: 0 4px;
  mat-chip {
    margin: 0 4px;
  }
}

.add {
  width: 100%;
  margin: 0px 0 16px 0;
  padding: 24px 0;
}

.hasSeenMovie {
  margin-left: 8px;
  color: #69f0ae
}
