.fab-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;

  button {
    width: 32px;
    height:32px;
  }

  .options {
    position: absolute;
    z-index: 999;
  }

  > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 48px;
  }
}
