<mat-card class="reviewsContainer">
  <mat-card-header>
    <!-- <span class="reviewRating">
      <div class="likesSorting">
        <mat-icon>thumb_up</mat-icon>
        <p>(126)</p>
      </div>
    </span> -->
    <h2 class="titleContainer" *ngIf="fullReview">
      <span class="title"
        ><a class="title" [routerLink]="['/movie', review?.movie?.tmdb_id, this.stripTitle(review?.movie?.title)]">{{ review?.movie?.title }}</a>
      </span>
      <span class="releaseDate">({{ review?.movie?.release_date | date : 'yyyy' }})</span>
    </h2>
  </mat-card-header>
  <mat-card-content>
    <p class="author">
      Author: {{ review?.user?.username }}<br />
      Reviewed on: {{ review?.createdAt | date : 'longDate' }}
    </p>

    <p
      class="review"
      [ngClass]="!fullReview && review && review.content.length > 380 ? 'ellipsis' : ''"
      [routerLink]="fullReview ? null : ['review', review?.id]">
      {{ review?.content }}
    </p>
    <mat-card-footer *ngIf="fullReview">
      <button mat-mini-fab color="accent" (click)="editReview()" *ngIf="(currentUser$ | async)?.id === review?.user?.id">
        <mat-icon color="primary">edit</mat-icon>
      </button>
      <button mat-mini-fab color="accent" (click)="removeReview(review!.id)" *ngIf="(currentUser$ | async)?.id === review?.user?.id">
        <mat-icon color="primary">delete</mat-icon>
      </button>
    </mat-card-footer>
  </mat-card-content>
</mat-card>
