<mat-card class="reviewsContainer">
  <mat-card-content>
    <span class="reviewRating">
      <div class="likesSorting">
        <mat-icon>thumb_up</mat-icon>
        <p>(126)</p>
      </div>
    </span>

    <p class="author">{{ review!.user_name }} <app-movie-rating></app-movie-rating></p>

    <p class="review" [ngClass]="!fullReview && review!.content.length > 380 ? 'ellipsis' : ''" [routerLink]="fullReview ? null : ['review', review!.id]">
      {{ review!.content }}
    </p>
  </mat-card-content>
</mat-card>
