<h2 class="titleContainer">
  <span class="title">{{ name }}</span>
</h2>

<div class="overview">
  <img [src]="'https://www.themoviedb.org/t/p/w120_and_h133_face/' + profile_path" alt="some guy" />
</div>

<mat-card appToggleContent [initialHeight]="64" *ngIf="actorMovies.length > 0">
  <mat-card-header>
    <mat-card-title>
      <mat-icon #chevron> chevron_right </mat-icon>
      Actor ({{ actorMovies.length }})
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list #list class="hide">
      <mat-list-item *ngFor="let movie of actorMovies"
        ><a (click)="navigateToMovie(movie)"> {{ movie.title }} ({{ movie.release_date | date : 'yyyy' }}) </a></mat-list-item
      >
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card appToggleContent [initialHeight]="64" *ngIf="directorMovies.length > 0">
  <mat-card-header>
    <mat-card-title>
      <mat-icon #chevron> chevron_right </mat-icon>
      Director ({{ directorMovies.length }})
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list #list class="hide">
      <mat-list-item *ngFor="let movie of directorMovies"
        ><a (click)="navigateToMovie(movie)"> {{ movie.title }} ({{ movie.release_date | date : 'yyyy' }}) </a></mat-list-item
      >
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card appToggleContent [initialHeight]="64" *ngIf="writerMovies.length > 0">
  <mat-card-header>
    <mat-card-title>
      <mat-icon #chevron> chevron_right </mat-icon>
      Writer ({{ writerMovies.length }})
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list #list class="hide">
      <mat-list-item *ngFor="let movie of writerMovies"
        ><a (click)="navigateToMovie(movie)"> {{ movie.title }} ({{ movie.release_date | date : 'yyyy' }}) </a></mat-list-item
      >
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card appToggleContent [initialHeight]="64" *ngIf="editorMovies.length > 0">
  <mat-card-header>
    <mat-card-title>
      <mat-icon #chevron> chevron_right </mat-icon>
      Editor ({{ editorMovies.length }})
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list #list class="hide">
      <mat-list-item *ngFor="let movie of editorMovies"
        ><a (click)="navigateToMovie(movie)"> {{ movie.title }} ({{ movie.release_date | date : 'yyyy' }}) </a></mat-list-item
      >
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card appToggleContent [initialHeight]="64" *ngIf="directorOfPhotography.length > 0">
  <mat-card-header>
    <mat-card-title>
      <mat-icon #chevron> chevron_right </mat-icon>
      Director of photography ({{ directorOfPhotography.length }})
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list #list class="hide">
      <mat-list-item *ngFor="let movie of directorOfPhotography"
        ><a (click)="navigateToMovie(movie)"> {{ movie.title }} ({{ movie.release_date | date : 'yyyy' }}) </a></mat-list-item
      >
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card appToggleContent [initialHeight]="64" *ngIf="executiveProducer.length > 0">
  <mat-card-header>
    <mat-card-title>
      <mat-icon #chevron> chevron_right </mat-icon>
      Executive producer ({{ executiveProducer.length }})
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list #list class="hide">
      <mat-list-item *ngFor="let movie of executiveProducer"
        ><a (click)="navigateToMovie(movie)"> {{ movie.title }} ({{ movie.release_date | date : 'yyyy' }}) </a></mat-list-item
      >
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card appToggleContent [initialHeight]="64" *ngIf="soundEditor.length > 0">
  <mat-card-header>
    <mat-card-title>
      <mat-icon #chevron> chevron_right </mat-icon>
      Sound editor ({{ soundEditor.length }})
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list #list class="hide">
      <mat-list-item *ngFor="let movie of soundEditor"
        ><a (click)="navigateToMovie(movie)"> {{ movie.title }} ({{ movie.release_date | date : 'yyyy' }}) </a></mat-list-item
      >
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card appToggleContent [initialHeight]="64" *ngIf="visualEffects.length > 0">
  <mat-card-header>
    <mat-card-title>
      <mat-icon #chevron> chevron_right </mat-icon>
      Visual effects ({{ visualEffects.length }})
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list #list class="hide">
      <mat-list-item *ngFor="let movie of visualEffects"
        ><a (click)="navigateToMovie(movie)"> {{ movie.title }} ({{ movie.release_date | date : 'yyyy' }}) </a></mat-list-item
      >
    </mat-list>
  </mat-card-content>
</mat-card>
