<mat-card *ngIf="state === 'login'">
  <mat-card-header>
    <mat-card-title> LOGIN </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="authForm">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="userName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" autocomplete="on" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions>
      <button mat-flat-button color="primary" [routerLink]="'/watchlist'" (click)="login()">LOGIN</button>
      <button mat-flat-button>SIGN UP</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>

<mat-card *ngIf="state === 'logout'" class="logout">
  <mat-card-header>
    <mat-card-title> LOGOUT </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Are you sure you want to logout?</p>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions>
      <button mat-flat-button color="primary" [routerLink]="'/watchlist'">GO BACK</button>
      <button mat-flat-button (click)="logout()">LOGOUT</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
