<div class="exitModal" *ngIf="exitConfirmation">
  <button (click)="exitApp('stay')">Stay</button>
  <button (click)="exitApp('exit')">Exit</button>
</div>
<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav #drawer mode="over" autoFocus="false">
    <mat-list>
      <app-drawer-menu [drawer]="drawer"></app-drawer-menu>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-mini-fab color="accent" (click)="drawer.toggle()" onclick="this.blur()" class="menuToggleBtn">
      <mat-icon>menu</mat-icon>
    </button>
    <main #mainContent [@routeAnimations]="getRouteAnimationData() | async">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
