<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav #drawer mode="over">
    <mat-list>
      <mat-list-item>
        <button>
          <a (click)="drawer.toggle()" routerLink="/watchlist">Movie Dashboard</a>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content #mainContent>
    <button class="toggleBtn" (click)="drawer.toggle()">Toggle Menu</button>
    <main [@routeAnimations]="getRouteAnimationData()">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
