<div class="exitModal" *ngIf="exitConfirmation">
  <button (click)="exitApp('stay')">Stay</button>
  <button (click)="exitApp('exit')">Exit</button>
</div>
<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav #drawer mode="over" autoFocus="false">
    <app-drawer-sidenav [drawer]="drawer"></app-drawer-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-drawer-bottom-menu [drawer]="drawer" *ngIf="displayMenu" @fadeAnimation></app-drawer-bottom-menu>
    <main #mainContent [@routeAnimations]="getRouteAnimationData() | async">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
