// be careful for style leaking, encapsulation: ViewEncapsulation.None

.mat-drawer-container {
  height: 100%;
  background: #280028;
}

main {
  height: 100%;
  & > *:not(router-outlet) {
    padding: 0px 8px 56px 8px;
    box-sizing: border-box;
    display: block;
    height: 100%;
    overflow: scroll;
  }
}

.exitModal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: green;
  button {
    padding: 2rem;
    font-size: 3rem;
  }
}
