// be careful for style leaking, encapsulation: ViewEncapsulation.None

.mat-drawer-container {
  height: 100%;
}

.toggleBtn {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
}

main {
  overflow: hidden;
  height: 100%;
  & > *:not(router-outlet) {
    display: block;
    height: 100%;
    overflow: scroll;
  }
}
